<div class="center jumbotron">
	<h1>Welcome To My Recipes App</h1>

	<h2>
		this is the home page for the professional chef 
	</h2>
	
	<%= link_to "Sign Up now!", "", class: "btn btn-large btn-success" %>	
</div>	
